.job-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important;
}

/* Arregla el título para que no se desborde */
.job-card .fw-bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}