.contenido-respuesta {
    text-align: justify;
    word-wrap: break-word; 
}

@media (max-width: 576px) {
    .avatar-respuesta {
        width: 40px !important;
        height: 40px !important;
    }
    .info-usuario h6 {
        font-size: 0.9rem;
    }

    .info-usuario small {
        font-size: 0.75rem;
    }
}