/* Estilos para la previsualización de la foto de perfil */
.upload-box {
  min-height: 200px; /* Asegura una altura mínima */
}

.profile-pic-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilo para la bandera */
.flag-icon {
  width: 30px;
  height: 20px;
  object-fit: cover;
  border: 1px solid #ccc;
}