<div class="login-container">

  <div class="form-panel">
    <div class="form-content">
      <div class="logo-header">
        <img src="/assets/imagenes/Logo.jpg" alt="Logo" class="logo-img">
        <h1 class="title">WorkLinks</h1>
      </div>

      <h3 class="subtitle">Iniciar Sesión</h3>

      <form (ngSubmit)="onSubmit()" #formLogin="ngForm" class="login-form">
        
        <div class="form-group">
          <input 
            type="email" 
            name="email" 
            class="form-input" 
            placeholder="Correo"
            [(ngModel)]="loginData.email"
            required
            #email="ngModel">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-text">
            El correo es requerido.
          </div>
        </div>

        <div class="form-group password-wrapper">
          <input 
            [type]="passwordFieldType" 
            name="password" 
            class="form-input" 
            placeholder="Contraseña"
            [(ngModel)]="loginData.password"
            required
            #password="ngModel">
          <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
            {{ passwordFieldType === 'password' ? 'Mostrar' : 'Ocultar' }}
          </button>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-text">
            La contraseña es requerida.
        </div>

        <div class="form-links">
          <a routerLink="/recover-password">¿Olvidaste tu contraseña?</a>
        </div>
        
        <button type="submit" class="submit-button" [disabled]="formLogin.invalid">
          Iniciar Sesión
        </button>
      </form>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <p class="signup-link">
        ¿No tienes cuenta? <a routerLink="/registro">Crear Cuenta</a>
      </p>
    </div>
  </div>

  <div class="promo-panel">
    </div>

</div>